body{
    font-family: cursive, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: black;
    background: #f7f4e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* overflow: hidden; */
}

button {
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px 30px;
    background-color: #ffeaa7;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 1px 1px white;
    box-shadow: 3px 3px 0px black;
    transition: all 0.2s ease;
    font-family: cursive, sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: #f9ca24;
    transform: translateY(-3px);
    box-shadow: 5px 5px 0px black;
}

button:disabled {
    background-color: #dcdcdc;
    color: #999;
    box-shadow: none;
    cursor: not-allowed;
}

/* Nagłówki */
h1, h2 {
    font-size: 3rem;
    color: #2d3436;
    text-shadow: 2px 2px white;
    margin-bottom: 20px;
    font-family: 'Patrick Hand', cursive;
}

h2 {
    font-size: 2.5rem;
    color: #0984e3;
}

input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: cursive, sans-serif;
}

#return-btn {
    position: fixed;
    top: 10px;
    left: 10px; 
}

.notification {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-family: cursive, sans-serif;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#notifications {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    max-width: 300px;
}


#admin-dashboard {
    position: fixed;
    top: 10px;
    right: 10px;
}

#admin-dashboard:disabled {
    cursor: not-allowed;
}

#users-table {
    border: 2px solid black;
    background-color: white;
}

.update-role-btn .delete-user-btn{
    padding: 5px 20px;
    font-size: 1rem;
}
